.gallery {
  padding: 30px 15px 130px;
  background: $white;
}

.gallery__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin: 24px 0 30px;
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $black;

    span {
      font-size: 42px;
    }
  }

  a {
    padding-bottom: 4px;
    text-decoration: none;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black-dark;
    border-bottom: $border-brown;
  }
}

.gallery__list {
  margin: 65px 0 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  grid-template-rows: 230px 150px;
  grid-gap: 34px 27px;
}

.gallery__item {
  &--first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--second {
    grid-column: 1 / 2;
    grid-row: -2 / -1;
  }

  &--third {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  &--fourth {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &--fifth {
    grid-column: 3 / 4;
    grid-row: -2 / -1;
  }

  &--sixth {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
  }

  &--seventh {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
  }
}

.gallery__block-img {
  margin-bottom: 28px;

  img {
    width: 230px;
    height: 150px;
    object-fit: cover;
  }

  &--first,
  &--fourth,
  &--sixth {
    img {
      height: 230px;
    }
  }

  &--third {
    img {
      width: 399px;
      height: 412px;
      object-fit: cover;
    }
  }
}
