.gallery {
  padding: 35px 15px 130px;
  background: $white;

  @media (max-width: $desktop-width) {
    padding: 0 45px 80px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px 67px;
  }
}

.gallery__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin: 24px 0 30px;
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $black;

    span {
      font-size: 42px;
    }

    @media (max-width: $desktop-width) {
      margin: 23px 0 18px;
    }

    @media (max-width: $tablet-width) {
      margin: 8px 0 18px;
    }
  }

  a {
    padding-bottom: 4px;
    text-decoration: none;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black-dark;
    border-bottom: $border-brown;

    &:hover,
    &:focus {
      outline: $border-brown;
      outline-offset: 4px;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.gallery__list {
  margin: 65px 0 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1.74fr 1fr 1fr;
  grid-template-rows: 230px 150px;
  grid-gap: 34px 27px;

  @media (max-width: $desktop-width) {
    margin-top: 66px;
    grid-template-rows: 133px 87px;
    grid-gap: 20px 16px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 51px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-gap: 21px 23px;
  }
}

.gallery__item {
  width: 100%;
  height: auto;

  &--first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &--second {
    grid-column: 1 / 2;
    grid-row: -2 / -1;

    @media (max-width: $tablet-width) {
      grid-row: 2 / 3;
    }
  }

  &--third {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    @media (max-width: $tablet-width) {
      grid-column: -2 / -1;
      grid-row: 1 / -2;
    }
  }

  &--fourth {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--fifth {
    grid-column: 3 / 4;
    grid-row: -2 / -1;

    @media (max-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: -2 / -1;
    }
  }

  &--sixth {
    grid-column: -2 / -1;
    grid-row: 1 / 2;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--seventh {
    grid-column: -2 / -1;
    grid-row: -2 / -1;

    @media (max-width: $tablet-width) {
      grid-column: -2 / -1;
      grid-row: -2 / -1;
    }
  }
}

.gallery__block-img {
  width: 100%;

  @media (max-width: $desktop-width) {
    height: 87px;
  }

  @media (max-width: $tablet-width) {
    height: auto;
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;

    @media (max-width: $desktop-width) {
      height: 87px;
    }

    @media (max-width: $tablet-width) {
      height: auto;
    }
  }

  &--first,
  &--fourth,
  &--sixth {
    img {
      height: 230px;

      @media (max-width: $desktop-width) {
        height: 133px;
      }

      @media (max-width: $tablet-width) {
        height: auto;
      }
    }
  }

  &--third {
    img {
      width: 100%;
      height: 412px;
      object-fit: cover;

      @media (max-width: $desktop-width) {
        height: 240px;
      }

      @media (max-width: $tablet-width) {
        height: auto;
      }
    }
  }
}
