.header {
  padding: 30px 0 19px;
  background: $white;

  &::after {
    position: absolute;
    width: 100%;
    top: 114px;
    height: 1px;
    content: "";
    background: $gray-ligth;

    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  @media (max-width: $desktop-width) {
    padding-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    padding: 19px 0 21px;
  }

  &--active-menu {
    @media (max-width: $desktop-width) {
      background: $brown;
    }
  }

  &--site {
    margin-bottom: 50px;
  }
}

.header__wrapper {
  text-align: center;
}

.header__wrapper-top {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 19px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    padding: 0 45px;
    align-items: center;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.header__toggle {
  display: none;

  @media (max-width: $desktop-width) {
    width: 25px;
    height: 18px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

    svg {
      width: 25px;
      height: 18px;
      display: block;
      fill: $black-dark;
    }

    &:hover,
    &:focus {
      outline: $border-brown;
      outline-offset: 4px;
    }

    &:active {
      opacity: 0.7;
    }

    &--active-menu {
      svg {
        fill: $white;
      }

      &:hover,
      &:focus {
        outline: $border-white;
      }
    }
  }
}

.header__search {
  width: 100%;
  margin-top: -25px;
  display: flex;
  align-items: center;
  border-radius: 21px;

  @media (max-width: $desktop-width) {
    display: none;
  }

  label {
    position: absolute;

    svg {
      width: 14px;
      height: 14px;
      fill: $gray;
    }
  }

  input {
    width: 80%;
    padding: 12px 10px 12px 28px;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: $gray;
    background: transparent;
    border: 1px solid transparent;
    border-radius: inherit;

    &:hover,
    &:focus {
      outline: $border-brown;
      outline-offset: 4px;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 66px;
    height: 66px;
    fill: $brown;

    @media (max-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }


  &:hover,
  &:focus {
    outline: $border-brown;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $desktop-width) {
    margin-left: -5px;

    &--active-menu {
      svg {
        fill: $white;
      }

      &:hover,
      &:focus {
        outline: $border-white;
      }
    }
  }

  &--site {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.header__block-rigth {
  width: 100%;
  margin-top: -25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $desktop-width) {
    width: auto;
    margin: 0;
  }

  a {
    margin-left: 35px;
    padding: 12px 0;
    text-decoration: none;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black-dark;

    @media (max-width: $desktop-width) {
      margin-left: 0;
      padding: 0;
    }
  }
}

.header__login,
.header__cart-block {

  &:hover,
  &:focus {
    outline: $border-brown;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__cart-block {
  div {
    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  span {
    margin-left: 5px;
  }

  svg {
    display: none;

    @media (max-width: $desktop-width) {
      display: block;
      fill: $black-dark;
    }
  }

  @media (max-width: $desktop-width) {
    &--active-menu {
      svg {
        fill: $white;
      }

      &:hover,
      &:focus {
        outline: $border-white;
      }
    }
  }
}

.header__login {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__nav {
  max-width: 650px;
  margin: 0 auto;
  display: block;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__menu-list {
  margin: 18px auto 0;
  padding-left: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  &--bottom {
    display: none;
  }
}

.header__menu-item {
  margin-right: 35px;

  a {
    text-decoration: none;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black-dark;

    &:hover,
    &:focus {
      outline: $border-brown;
      outline-offset: 4px;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.header__search--active-menu {
  @media (max-width: $desktop-width) {
    position: absolute;
    width: calc(100% - 2 * 45px);
    display: flex;
    top: 130px;
    left: 45px;
    background: $white-15;
    z-index: 150;


    @media (max-width: $tablet-width) {
      top: 108px;
      left: 15px;
      width: calc(100% - 2 * 15px);
    }

    label {
      left: 12px;

      svg {
        width: 16px;
        height: 16px;
        fill: $white;
      }
    }

    input {
      width: 100%;
      padding: 10px 40px;
      color: $white;

      &::placeholder {
        color: transparent;
      }

      &:hover,
      &:focus {
        outline: $border-white;
      }
    }
  }
}

.header__nav--active-menu {
  @media (max-width: $desktop-width) {
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 122px;
    left: 0;
    padding: 96px 0 55px 45px;
    display: block;
    background: $brown;
    z-index: 100;

    @media (max-width: $tablet-width) {
      padding: 89px 0 25px 15px;
      top: 87px;
    }

    .header__menu-list {
      width: 100%;
      margin: 0 0 19px;
      padding-left: 0;
      list-style: none;
      flex-direction: column;
      align-items: start;

      @media (max-width: $tablet-width) {
        margin-bottom: 10px;
      }

      &--bottom {
        margin: 0;
        display: flex;
      }
    }

    .header__menu-item {
      margin: 0 0 21px 0;

      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        line-height: 36px;
        color: $white;

        &:hover,
        &:focus {
          outline: $border-white;
        }
      }

      &--bottom {
        margin: 0 0 20px 0;

        a {
          font-size: 18px;
          line-height: 130%;
          color: $white-75;
        }
      }

      &--bottom-login {
        margin: 25px 0 20px 0;

        @media (max-width: $tablet-width) {
          margin-top: 15px;
        }
      }
    }
  }
}
