.novelty {
  padding: 0 15px;
  background: $white;
}

.novelty__wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0 60px;
}

.novelty__top-text {
  text-align: center;

  h2 {
    margin: 0 0 30px;
    font-family: $font-cormorant;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    color: $black-dark;
  }

  a {
    margin-bottom: 60px;
    text-decoration: none;
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black-dark;
    border-bottom: $border-brown;

    &:hover,
    &:focus {
      border-bottom: none;
      outline: $border-brown;
      outline-offset: 4px;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.novelty__container {
  position: relative;
  max-width: 1170px;
  margin-left: -15px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.novelty__card {
  padding-bottom: 20px;
  display: block;

  &:hover,
  &:focus {
    outline: $border-brown;
    outline-offset: -1px;
  }

  &:active {
    opacity: 0.7;
  }
}

.novelty__card-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: $font-poppins;
  color: $black-dark;

  h3 {
    margin: 25px 0 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
  }
}

.novelty__wrapper-img {
  width: 270px;
  height: 264px;
  display: block;
  z-index: -1;

  img {
    width: 270px;
    height: 264px;
  }
}

.novelty__slider-pagination {
  position: absolute;
  width: 100%;
  bottom: 72px;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 21px;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $gray;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 5;

  &:hover,
  &:focus {
    outline: $border-brown;
    outline-offset: -2px;
  }
}

.swiper-pagination-bullet-active {
  color: $black-dark;
  border-radius: 0;
}

.novelty__slider-buttons {
  position: absolute;
  width: 100%;
  top: 165px;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.novelty__slider-button {
  width: 30px;
  height: 11px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &::before {
    width: 30px;
    height: 11px;
    content: "";
    display: block;
    background-image: url("../img/arrow-left.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--prev {
    &::before {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    outline: $border-brown;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }
}
