$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

$font-poppins: "poppins", "Tahoma", sans-serif;
$font-cormorant: "cormorant-garamond", "Palatino Linotype", serif;

$white: #ffffff;
$white-75: rgba(#ffffff, 0.75);
$black: #000000;
$black-dark: #1d1613;
$gray: #9b9997;
$gray-ligth: #f6f5f4;
$brown: #a87b62;
$brown-logo: #1d1613;
$brown-70: rgba(#564034, 0.7);
$brown-light: #f0eae4;
$gray-24: rgba(#dbd5d0, 0.24);
$gray-ligth-24: rgba(#e2ddd7, 0.24);

$border-brown: 1px solid $brown;
$border-dark: 1px solid $black-dark;
$border-line: 1px solid $gray-ligth;

$shadow-gray-ligth: 0 5px 32px $gray-ligth-24;
$shadow-gray: 0 5px 32px $gray-24;
